# Exercises: Complex queries

For the exercises, you are tasked with writing five queries that will help you delve deeper into BooksDB. You can choose whether you want to use a correlated subquery, a nested subquery, the UNION operator, the INTERSECT operator, or the EXCEPT operator for each one. You may not use joins or add multiple statements to the WHERE clause.

1. Write a query that will return the number of users who rated a book above it's average rating.

In [ ]:
-- Distinct count of users who rated a book higher than it's average rating -- 898950 
SELECT DISTINCT COUNT([user_id])
FROM BooksDB.dbo.ratings
WHERE 
    rating > ANY (SELECT average_rating FROM BooksDB.dbo.books)

2. Write a query that returns the book ids of all books that have over 1000 ratings of 1 star or over 1000 ratings of 5 stars.

In [ ]:
SELECT book_id
FROM BooksDB.dbo.books
WHERE ratings_1 > '1000'
UNION ALL
SELECT book_id
FROM BooksDB.dbo.books
WHERE ratings_5 > '1000'

3. Write a query that returns the book ids of all books that have over 1000 ratings of 1 star and over 1000 ratings of 5 stars.

In [ ]:
SELECT book_id
FROM BooksDB.dbo.books
WHERE ratings_1 > '1000'
UNION ALL
SELECT book_id
FROM BooksDB.dbo.books
WHERE ratings_5 > '1000'

4. Write a query that returns the book ids of books that have a language code of "en-US" and not a langugae code of "en-GB".

In [ ]:
SELECT book_id
FROM BooksDB.dbo.books
WHERE language_code = 'en-US'

5. Write a query that returns the names of the tags and the tag ids for tags that were used over 100,000 times for a book.

In [ ]:
-- I don't think this is correct, but I can't figure out the last piece. This query only returns one row of data, where I *think* it should return 207. Any thoughts?
WITH tagid_count AS (
    -- all the tag id with a count of greater than 100000 (207 tags)
    SELECT DISTINCT bt.tag_id, bt.count 
    FROM BooksDB.dbo.book_tags AS bt
    WHERE [count] > 100000
)
SELECT DISTINCT tags.tag_id, tags.tag_name
FROM BooksDB.dbo.tags AS tags
WHERE tags.tag_id  (SELECT tag_id FROM tagid_count)