# Exercises

To get started with the exercises, go ahead and take a look at RideShareDB. This database was created with data from a dataset on [Kaggle](https://www.kaggle.com/fivethirtyeight/uber-pickups-in-new-york-city). The dataset was made using data obtained from the NYC Taxi and Limosine Commission or TLC. TLC tracks this data by base and even rideshare companies such as Uber and Lyft have assigned bases that each pickup must be attributed to. For the exercises, we will be using the `other_FHV_services_jan_aug_2015` and `lyft` tables in RideShareDB. These tables include the data for each pickup attributed to a few other For-Hire Vehicles (FHV) services and Lyft. These tables do not include any data from Uber.

## String Functions

Write a query that returns the last 3 characters of the base name in <span style="color: rgb(163, 21, 21); font-family: Menlo, Monaco, Consolas, &quot;Droid Sans Mono&quot;, &quot;Courier New&quot;, monospace, &quot;Droid Sans Fallback&quot;; font-size: 12px;">other_FHV_services_jan_aug_2015</span><span style="color: var(--vscode-foreground);">. Do you see anything that is a common abbreviation at the end of business names?</span>

In [ ]:
SELECT RIGHT(Base_Name, 3)
FROM RideShareDB.dbo.other_FHV_services_jan_aug_2015;
-- INC is a very common abbreviation at the end of the business names returned

The number of trips and the number of pickups are both stored as strings in <span style="color: rgb(163, 21, 21); font-family: Menlo, Monaco, Consolas, &quot;Droid Sans Mono&quot;, &quot;Courier New&quot;, monospace, &quot;Droid Sans Fallback&quot;; font-size: 12px;">other_FHV_services_jan_aug_2015</span><span style="color: var(--vscode-foreground);">. This is because the data provided included spaces in some of the numbers. Write a query that returns the location of spaces in both of these columns.</span>

In [ ]:
SELECT 
    CHARINDEX(' ', Number_of_Trips) AS Number_of_Trips_Space,
    CHARINDEX(' ', Pick_Up_Date) AS Pick_Up_Date_Space
FROM RideShareDB.dbo.other_FHV_services_jan_aug_2015;

## Date Functions

For <span style="color: rgb(163, 21, 21); font-family: Menlo, Monaco, Consolas, &quot;Droid Sans Mono&quot;, &quot;Courier New&quot;, monospace, &quot;Droid Sans Fallback&quot;; font-size: 12px;">other_FHV_services_jan_aug_2015</span><span style="color: var(--vscode-foreground);">, display the name of month of the pickup date and order in descending order. Is the result of this query what you expected?</span>

In [ ]:
SELECT DATENAME(MONTH, Pick_Up_Date) AS 'Pick Up Month'
FROM RideShareDB.dbo.other_FHV_services_jan_aug_2015
ORDER BY Pick_Up_Date DESC;
-- When it is ordered by ASC, it's in chronological order. WHen it is ordered by DESC it starts descending at August, not December
-- Using the DISTINCT function, I discovered that the latest month recorded is August, which is why the descending order doesn't start at December
Select DISTINCT DATENAME(MONTH, Pick_Up_Date)
FROM RideShareDB.dbo.other_FHV_services_jan_aug_2015

Using <span style="color: rgb(163, 21, 21); font-family: Menlo, Monaco, Consolas, &quot;Droid Sans Mono&quot;, &quot;Courier New&quot;, monospace, &quot;Droid Sans Fallback&quot;; font-size: 12px;">other_FHV_services_jan_aug_2015</span><span style="color: var(--vscode-foreground);">, write a query that returns the day number of the pickup date and month name and orders it in ascending order by day number.</span>

In [ ]:
SELECT 
    DATENAME(Day, Pick_Up_Date),
    DATENAME(Month, Pick_Up_Date)
FROM RideShareDB.dbo.other_FHV_services_jan_aug_2015
ORDER BY DATEPART(Day, Pick_Up_Date)

## Aggregate Functions

Write a query that returns the most easterly Lyft pickup.

In [ ]:
SELECT TOP 1 *
FROM RideShareDB.dbo.lyft
WHERE start_lat IS NOT NULL
ORDER BY start_lat DESC
/* Wanted to write out my justification. Latitude, going left to right, would mark West (leftmost) to East (rightmost) location. 
So to get the most easterly location, I would need to capture the highest (rightmost) latitude 
Capturing the singular highest latitude means i needs to sort all latitudes in a descending order (that aren't null)
then I want to select the top 1 value, which would be the highest (easternmost) latitude*/

Write a query the returns the most northerly Lyft pickup.

In [ ]:
SELECT TOP 1 *
FROM RideShareDB.dbo.lyft
WHERE start_lng IS NOT NULL
ORDER BY start_lng ASC
/* same justification as above, but with longitude marking North to South going from top to bottom. 
So the most northly Lyft pickup would be the highest value in ascending order
Because longitude and latitude both work from a starting point of zero, and out right? So for a northern longitude you would want it to be ascending, but if we were capturing a southern longitude, it would need to be descending*/

Using <span style="color: rgb(163, 21, 21); font-family: Menlo, Monaco, Consolas, &quot;Droid Sans Mono&quot;, &quot;Courier New&quot;, monospace, &quot;Droid Sans Fallback&quot;; font-size: 12px;">other_FHV_services_jan_aug_2015</span><span style="color: var(--vscode-foreground);">, write a query that connects the the base number and the base name in a string that uses the following format: base_number: base_name.</span>

In [ ]:
-- Ok, I tried to use COALESCE like in our Lesson, but I simply could not figure out how to make it work the way it is shown in the example. My digging continued to show that CONCAT was the simpler solution
SELECT CONCAT(Base_Number, ':', Base_Name)
FROM RideShareDB.dbo.other_FHV_services_jan_aug_2015;