# SQL Part 3 Exercises: Joins

This notebook works with `BooksDB`.

**Questions 1-4** focus on how joins work in a more general sense.  If you are not sure how to best answer the questions, try manipulating the queries by changing the order of joins, the length of the TOP, or how they are ordered.

Note: If some of the queries are not returning quickly, you can try closing and restarting Visual Studio Code after a few minutes.

In **questions 5-8**, you will be asked to join tables to find results about titles, tags, and the books users want to read.

As you go through the questions, you will see 'Minimum Desired Output'.  This will provide you with the bare minimum columns needed to answer the questions.  When you write the queries, add as many additional columns as you need to best find your answers.

## QUESTION 1:  Exploring a `LEFT JOIN` using the `books` and `to_read` tables

The code block below has been commented out. To answer this question, you will need to uncomment it by removing the `/*` (line 1) and `*/` (line 16).

**Part A:** Look at Query 1, which table is the 'Left' table and which is the 'Right'?

> Your Answer: BooksDB.dbo.to_read is Left! That's because BooksDB.dbo.to_read is entered directly after the LEFT JOIN, making that particular table the LEFT table

**Part B:** Using table 2, answer the following questions: 
- When we added a `WHERE tr.user_id IS NOT NULL` clause (line 14), how did the table change?  Why?

> Your Answer: It only returned rows that do not have NULL values

In [ ]:

-- Query 1: LEFT JOIN
SELECT TOP 50 b.title, b.average_rating, b.books_count,tr.user_id, tr.book_id
FROM BooksDB.dbo.books AS b
LEFT JOIN BooksDB.dbo.to_read AS tr
ON b.best_book_id = tr.book_id
ORDER BY b.average_rating;

-- Query 2: LEFT JOIN USING 'IS NOT NULL'
SELECT TOP 50 b.title, b.average_rating, b.books_count,tr.user_id, tr.book_id
FROM BooksDB.dbo.books AS b
LEFT JOIN BooksDB.dbo.to_read AS tr
ON b.best_book_id = tr.book_id
WHERE tr.user_id IS NOT NULL
ORDER BY b.average_rating;

## **QUESTION 2:** Exploring `RIGHT` joins with the `books` and `to_read` tables

You will need to uncomment the query to answer the question.

**Part A:** Looking at the query, which table is the 'Left' and which is the 'Right'?

> Your Answer: BooksDB.dbo.to_read is RIGHT, and BooksDB.dbo.books is LEFT 

**Part B:** How do the RIGHT-joined tables differ from the LEFT-joined tables in Question 1?

> Your Answer: the RIGHT-joined tables are looking at the TOP 300 rows instead of 50. They also treat the same table as opposite sides. For Question 1, BooksDB.dbo,to_read is LEFT, and on Question 2 it's RIGHT

In [ ]:

-- Query 1: RIGHT JOIN
SELECT TOP 300 b.title, b.average_rating, b.books_count, tr.user_id, tr.book_id
FROM BooksDB.dbo.books AS b
RIGHT JOIN BooksDB.dbo.to_read AS tr
ON b.best_book_id = tr.book_id;

## **QUESTION 3:** Exploring FULL JOINS with the `books` and `to_read` tables

You will need to uncomment the Query to answer the question.

**Part A:**  Look at the table and explore how it was populated.  Try manipulating the query to better understand how this table works.  Try adding a WHERE clause, or ORDER BY a column on the `books` table.  Based on your exploration, can you think of when you might want a FULL join rather than a LEFT, RIGHT, or INNER?

> Your Answer: Both tables have the field book_id with dbo.to_read then only have the additional column of user_id. since dbo.to_read only has one additional column that dbo.books does not, I think it makes sense to just join them together with a FULL join

In [ ]:
-- FULL JOIN
SELECT TOP 30 b.title, b.average_rating, b.books_count,tr.user_id, tr.book_id
FROM BooksDB.dbo.books AS b
FULL JOIN BooksDB.dbo.to_read AS tr
ON b.book_id = tr.book_id;

## **QUESTION 4:** Exploring INNER Joins with the `books` and `to_read` tables

You will need to uncomment the Query to answer the question.

**Part A:**  What does an inner join do?

> Your Answer: an inner join producs a result sat that only includes values that present in both tables

**Part B:** Currently this table has an `'IS NOT NULL'` in the `WHERE` clause. Is this necessary for this table? Why or Why not?

> Your Answer: This is not necessary, because if there is a field that is not null on "one side" or from one table, then it will not return on the query. Inner Joins automaticaly exlude any rows where the join condition evaluates to NULL

**Part C:**  When using SQL, you are usually returning much larger tables so every line of code will add to the compilation and return time.  Rewrite this inner join query so that it contains no redundant code.

> Your Answer:  I'm not sure I understand the ask, but I think I was able to make changes to make the run time shorter. In the SELECT, I had the book_id pull form b instead of tr, and it make it a LEFT JOIN to tr since tr has so fewer columns, which eliminated time on running the code

In [ ]:

-- INNER JOIN
SELECT TOP 30 b.title, b.average_rating, b.books_count,tr.user_id, tr.book_id
FROM BooksDB.dbo.books AS b
INNER JOIN BooksDB.dbo.to_read AS tr
ON b.book_id = tr.book_id
WHERE b.title IS NOT NULL
ORDER BY tr.book_id;

-- My Answer
SELECT TOP 30 b.title, b.average_rating, b.books_count,tr.user_id, b.book_id
FROM BooksDB.dbo.books AS b
LEFT JOIN BooksDB.dbo.to_read AS tr
ON b.book_id = tr.book_id
WHERE b.title IS NOT NULL
ORDER BY tr.book_id;

## **QUESTION 5:**  Using joins to find the most tagged book and the most popular tag

We will be writing 3 queries to find both the most tagged book and that book's most popular tag.

**Part A:**  What is the most tagged book?

Start by joining the `books` and `book_tags` tables ON the `books.best_book_id` and `book_tags.goodreads_book_id`. We want the *most popular* book, so think about ordering the table in a way that will display both the book title and the number of times a book tag has been used.

Minimum Desired output:_  The title of the most tagged book, and the number of times the book has been tagged.

**Title:**

**Part B:** How many different tags have been used for the most tagged book?

Start by joining the `books` and `book_tags` tables ON the `books.best_book_id` and `book_tags.goodreads_book_id`. We want to find the *most popular* tag id, so think about ordering in a way that will display the most popular tag id.

*Minimum Desired Output:* The tag id for the most popular tag used for the most tagged book.

**Tag Id:**

**Part C:** What is this particular tag?

You may return this answer with a simple query.

*Minimum Desired Output:* The tag name for the most popular tag used for the most tagged book.

**Tag Name:**

In [ ]:
-- PART A:
SELECT b.title, COUNT(bt.goodreads_book_id) AS tag_count
FROM BooksDB.dbo.books AS b
LEFT JOIN BooksDB.dbo.book_tags AS bt 
ON b.best_book_id = bt.goodreads_book_id
GROUP BY b.title
ORDER BY tag_count DESC

-- Most Tagged Book: Select Poems 
-- Number of times tagged: 400 

-- PART B: (I am really not confident this is right, but I keep going in circles and getting the same thing)
-- Most Popular Book: Swan Song
SELECT b.title AS "Book Title", COUNT(bt.tag_id) AS "Tag Count"
FROM BooksDB.dbo.book_tags AS bt 
RIGHT JOIN BooksDB.dbo.books AS b 
ON bt.tag_id = b.best_book_id
GROUP BY b.title
ORDER BY COUNT(bt.tag_id) DESC

-- Tag ID for the most popular tag for the most popular book: 11557
SELECT bt.tag_id, COUNT(bt.tag_id) AS "Tag Count"
FROM BooksDB.dbo.book_tags AS bt 
RIGHT JOIN BooksDB.dbo.books AS b 
ON bt.tag_id = b.best_book_id
WHERE b.title LIKE '%Swan Song%'
GROUP BY bt.tag_id
ORDER BY [Tag Count] DESC

-- PART C: 
-- Most Popular Tag Name: "Favorites"

SELECT *
FROM BooksDB.dbo.tags AS bt 
RIGHT JOIN BooksDB.dbo.books AS b 
ON bt.tag_id = b.best_book_id
WHERE bt.tag_id LIKE '%11557%'

## QUESTION 6: Find a book based on a tag of your choice using joins.

Some suggestions: any hobbies you like? baking, drawing, etc. how about favorite holidays, subjects, animals, etc?

**Part A:** Explore the tags table for a tag of your choice.  Suggested ideas, try searching for one of your hobbies, a favorite time of year, favorite animal, etc.  Start by querying the tag table for your chosen tag.  (_Hint:_ in order to make sure you find all combinations of your tags, use the wildcard).  If your query returns more than one result, pick your favorite.

Here is an example.  Alyce wanted to search for Halloween books.  She used the wildcard, `%halloween%` and 8 different combinations were found.  Alyce selected `halloween-storytime`, with a tag id of 13877.

*Minimum Desired Output:* tag name and tag id

**Your Tag and Tag Id:**

**Part B:** Now that you have the tag id, find the title that was tagged the most with this tag by joining the `books` and `books_tags` tables.

Alyce joined the book table with the tags table and discovered that "The Little Old Lady Who Was Not Afraid of Anything" was tagged as `halloween-storytime` the most.

*Minimum Desired Output:* title and tag count

**Your Title and Number of times the tag was used:**

In [ ]:
-- Code Here:
-- PART A:
SELECT *
FROM BooksDB.dbo.tags AS t
JOIN BooksDB.dbo.book_tags AS bt 
ON t.tag_id = bt.tag_id
WHERE t.tag_name LIKE '%medieval%'
-- tag name: medieval
-- tag_id: 19666

-- PART B:
SELECT b.title, bt.tag_id, bt.count
FROM BooksDB.dbo.book_tags AS bt 
JOIN BooksDB.dbo.books AS b
ON bt.goodreads_book_id = b.book_id
WHERE bt.tag_id = 19666
ORDER BY bt.count DESC
-- book title: The Pillars of the Earth (The Kingsbridge Series, #1)
-- tag count: 403

## **QUESTION 7:** What are the top 10 most popular book titles on the 'to read' list?

**Part A:**  Explore how the `to_read` and `books` tables are organized, and then join them.  What will you use as a key?

Your Answer: 



**Part B:** Organize your newly joined table in a way that groups popularity based on the title based on users.

*Hint:* Suggest using an alias for the aggregation you will need to run on the `user_id`

*Minimum Desired Output:* title and aliased column

In [ ]:
-- PART A:
-- I used book_id to join the two tables together!

--PART B: 
SELECT TOP 10 b.title, COUNT(tbr.[user_id]) AS Readers
FROM BooksDB.dbo.to_read AS tbr
JOIN BooksDB.dbo.books AS b
ON tbr.book_id = b.book_id
GROUP BY b.title
ORDER BY Readers DESC

/* 
The Ultimate Hitchhiker's Guide to the Galaxy	1812
The Hitchhiker's Guide to the Galaxy (Hitchhiker's Guide to the Galaxy, #1)	1767
The Lord of the Rings: The Art of The Fellowship of the Ring	1499
Harry Potter Boxed Set, Books 1-5 (Harry Potter, #1-5)	1498
Harry Potter and the Goblet of Fire (Harry Potter, #4)	1484
The Known World	1352
Harry Potter and the Prisoner of Azkaban (Harry Potter, #3)	1293
The Lord of the Rings: Weapons and Warfare	1211
Notes from a Small Island	1148
Harry Potter Collection (Harry Potter, #1-6)	1110
*/

## **QUESTION 8:** Largest 'To Read' Lists

**Part A:**  Create a query that returns a table that contains the top 10 users with the most number of titles on their 'to read' list.    Group all the entries by `user_id`.

_Hint:_ You might want an alias for the titles.

_Minimum Desired Output:_ `user_id` and your aliased column of titles.

**Part B:**  The longest list length is 15 titles total, and is shared by 4 different users.  Select one of the uses and print out their entire 'to read' list.

In [ ]:
-- PART A
SELECT tbr.[user_id], COUNT(b.title) AS Books
FROM BooksDB.dbo.to_read AS tbr 
JOIN BooksDB.dbo.books AS b
ON tbr.book_id = b.book_id
GROUP BY tbr.[user_id]
ORDER BY Books DESC
-- user_id 14771
-- aliased column: Books 

-- PART B 
SELECT b.title, tbr.[user_id]
FROM BooksDB.dbo.to_read AS tbr 
JOIN BooksDB.dbo.books AS b
ON tbr.book_id = b.book_id
WHERE [user_id] = 14771

/*
The Fellowship of the Ring (The Lord of the Rings, #1)	14771
Harry Potter and the Order of the Phoenix (Harry Potter, #5)	14771
Harry Potter and the Goblet of Fire (Harry Potter, #4)	14771
J.R.R. Tolkien 4-Book Boxed Set: The Hobbit and The Lord of the Rings	14771
In a Sunburned Country	14771
A Widow for One Year	14771
Tropic of Cancer	14771
The Iliad/The Odyssey	14771
The Lost Continent: Travels in Small Town America	14771
The New York Trilogy	14771
The Lord of the Rings: The Art of The Fellowship of the Ring	14771
The Known World	14771
Ten Apples Up On Top!	14771
Leviathan	14771
What to Expect the First Year (What to Expect)	14771
*/