# Exercises: Creating, Updating, and Destroying Objects

For the exercises, you will be working with objects and data you create. Before opening this notebook, make sure that you have set up the new connection to the server and that you have located the database and your schema.

## Object Creation

Before coding, think of three things you want to make. These could be coding projects, new recipes, or planned projects for a woodworking hobby. Brainstorm the appropriate column names and data types as well.

Create a table under your schema called `planned_makes`.

In [ ]:
CREATE TABLE SEP2025JunkDB.grace_graham.planned_makes(
    Project VARCHAR(200),
    Media VARCHAR(200),
    Time_Commitment VARCHAR(200),
    Budget INT
    )

Add three rows to your table that are your planned makes.

In [ ]:
INSERT INTO Sep2025JunkDB.grace_graham.planned_makes
VALUES ('Quilt', 'Textiles', '2 Months', 300)

INSERT INTO Sep2025JunkDB.grace_graham.planned_makes
VALUES ('Gallery Wall for Kitchen', 'Mixed Media, Prints', '6 Months', 500)

INSERT INTO Sep2025JunkDB.grace_graham.planned_makes
VALUES ('Christmas Garland', 'Textiles and Yarns', '2 Weeks', 40)

SELECT * 
FROM Sep2025JunkDB.grace_graham.planned_makes

## Update a Row

Change different values in one of your three rows.

In [ ]:
UPDATE Sep2025JunkDB.grace_graham.planned_makes
SET Budget = 200
WHERE Project = 'Gallery Wall for Kitchen'

## Delete a Row

Delete one of the rows from your table.

In [ ]:
DELETE FROM Sep2025JunkDB.grace_graham.planned_makes WHERE Project = 'Quilt'

## Drop the Table

While this has been fun, it is time to drop the table!

In [ ]:
DROP TABLE Sep2025JunkDB.grace_graham.planned_makes